/*
main color: #212932
secondary color: #2b303b
main text color: #dfe1e8
*/
html{
    height: 100%;
    text-transform: lowercase;
}

body{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #212932;
    color: #dfe1e8;
    font-family: 'Roboto Mono', monospace;
}

.content-container {
    max-width: 44rem;
}

.bookmarks-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(25%, 1fr));
    /* flex-wrap: wrap; */
    /* flex-direction: row;
    flex-flow: row wrap;
    align-items: top;
    justify-content: flex-start; */
}

.bookmark-category{
    /* margin: 0 .5rem; */
    /* width: 25%; */
    /* flex: 0 1 25%; */
    /* padding: 0 .5rem; */
    border: 1px solid red;
}

/* .bookmark-category:first-of-type {
    margin-left: 0;
}

.bookmark-category:last-of-type{
    margin-right: 0;
} */

.bookmark {
    word-break: break-all;
}

.bookmark a{
    color: #8c9eb3;
    text-decoration: none;
}

#bookmarks{
    border:1px solid yellow;
}