/*
main color: #212932
secondary color: #2b303b
main text color: #dfe1e8
*/
html{
    height: 100%;
    text-transform: lowercase;
}

body{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #212932;
    color: #dfe1e8;
    font-family: 'Roboto Mono', monospace;
}

.content-container {
    max-width: 44rem;
}

.bookmarks-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(25%, 1fr));
    margin: 0 -.5rem;
}

.bookmark-category{
    margin: 0 .5rem;
}

.category-name{
    border-bottom: 1px solid #dfe1e8;
}

.bookmark a{
    color: #8c9eb3;
    text-decoration: none;
}

.bookmark a:hover{
    color: #b1b6c7;
}
