/*
main color: #212932
secondary color: #2b303b
main text color: #dfe1e8
*/
html{
    height: 100%;
    text-transform: lowercase;
}

body{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #212932;
    color: #dfe1e8;
    font-family: 'Roboto Mono', monospace;
}

.content-container {
    max-width: 40rem;
}

.bookmarks-container {
    display: flex;
    flex-direction: row;
    align-items: top;
    justify-content: flex-start;
}

.bookmark a{
    color: #8c9eb3;
    text-decoration: none;
}